:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

/* 
===========================
command styles
===========================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-background);
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

img {
  display: block;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: currentColor;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

input,
textarea {
  font-family: inherit;
  line-height: inherit;
  padding: 8px 16px;
}

label {
  display: flex;
  margin-bottom: 8px;
}

/* 
===========================
base styles
===========================
*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--white-background);
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

h1,
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--modal-overlay);
  text-align: center;
  text-transform: capitalize;
}

h1 {
  color: var(--white-background);
  max-width: 496px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 72px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--modal-overlay);
  margin-bottom: 8px;
}

.list-text,
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.container {
  min-width: 320px;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.card-text {
  padding: 32px 16px;
}

.link {
  display: inline-block;
}

/* 
===========================
form 
===========================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 100%;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  top: 55%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  background-color: var(--modal-background);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark);
}

.close-btn {
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  font-size: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--pressed-state);
  border: none;
}

.close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--white-background);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.input-label {
  display: block;
  position: relative;
  width: 360px;
  margin-bottom: 4px;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}
.input-box {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 1;
  float: left;
  right: 90%;
  left: 16px;
  fill: var(--dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.text-input:focus {
  border-color: var(--primary-brand);
}

.form-input:focus + .form-icon {
  stroke: none;
  fill: var(--primary-brand);
}

.form-inputs-item.textarea {
  margin-bottom: 16px;
}

.text-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.text-input {
  height: 120px;
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  padding-left: 16px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  color: var(--white-background);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:focus,
.modal-submit-btn:hover {
  background-color: var(--pressed-state);
}

.checkbox-link {
  text-decoration: underline;
  color: var(--primary-brand);
}

.checkbox-label {
  display: inline;
  color: var(--subtle-text);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-inputs-item {
  margin-bottom: 8px;
}

.form-inputs-item {
  margin-bottom: 8px;
}
/*
==============================
checkbox
==============================
*/

.checkbox-wrap {
  width: 100%;
  margin-bottom: 24px;
}

.checkbox-label {
  margin-bottom: 24px;
}

.checkbox-label input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.checkbox-label .checkbox-icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 16px;
  height: 16px;
  background-color: transparent;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  padding: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  top: 50%;
  left: 50%;
}

input:checked + .checkbox-label > .checkbox-icon-box {
  background-color: var(--pressed-state);
  fill: var(--light);
  border: none;
}

/* 
==============================
header 
==============================
*/

.page-header {
  max-width: 100%;
  min-height: 70px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-wrap {
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  padding: 25px 0;
  color: var(--primary-brand);
}

span {
  color: var(--modal-overlay);
}

.menu-wrap,
.address {
  display: none;
}

.menu-link {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link:active,
.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state);
}

.active {
  position: relative;
  color: var(--pressed-state);
}

.active::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state);
  margin-top: 20px;
  bottom: -1px;
}

.address {
  font-style: normal;
}

.contakt {
  color: var(--text);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt:hover,
.contakt:focus {
  color: var(--pressed-state);
}

.menu-toggle-hamurger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.hamburger-icon {
  stroke: var(--dark);
}

/* 
==============================
mobile-menu
==============================
*/

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px;
  z-index: 999;
  background-color: var(--white-background);
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--text);
  background-color: var(--accent);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  font-size: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .menu-btn-close:focus {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.mobile-menu-wrap,
.mobile-addres-wrap {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.mobile-menu-wrap {
  margin-bottom: auto;
}

.mobile-nav-item {
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin-bottom: 40px;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-item:active {
  color: var(--pressed-state);
}

.mobile-addres-wrap {
  margin-bottom: 48px;
  font-style: normal;
}

.mobile-contakt-phone {
  color: var(--primary-brand);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.mobile-contakt-mail {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.menu-icons-list {
  gap: 56px;
}

.menu-social-icon {
  background-color: var(--primary-brand);
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: var(--light);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 
===========================
section class="about" 
===========================
*/
.about {
  padding: 96px 0;
  row-gap: 24px;
  column-gap: 72px;
}

.about-us-wrap {
  gap: 72px;
}

.about-us-item {
  flex-basis: calc((100% - 72px) / 4);
}

.about-us-icons-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.about-us-item .list-title {
  text-align: center;
}

/* 
===========================
section class="team" 
===========================
*/

.team {
  background-color: var(--light);
  padding: 96px 0;
}

.card {
  max-width: 264px;
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-cards-wrap {
  align-items: center;
  gap: 72px;
}

.social-icons-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand);
  padding: 11px 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--pressed-state);
}

.icon-img {
  fill: var(--light);
}

.card-text-item > p {
  margin-bottom: 8px;
}

/* 
===========================
Customers
===========================
*/

.customers {
  padding: 96px 0;
}

.customers-wrap {
  justify-content: center;
  align-items: center;
  max-width: 404px;
  gap: 24px;
  margin: 0 auto;
}
.customers-icons-wrap {
  align-items: center;
  justify-content: center;
  color: var(--subtle-text);
  width: 190px;
  height: 88px;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  padding: 16px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons-wrap:hover,
.customers-icons-wrap:focus {
  color: var(--pressed-state);
  border-color: var(--pressed-state);
}

.customers-icon {
  fill: currentColor;
}

@media (min-width: 428px) {
  .modal {
    max-width: 392px;
  }

  .customers-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  .customers-item {
    flex-basis: 33%;
  }
}

@media (max-width: 1157px) {
  .about-us-item .list-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
  }

  .about-us-icons-wrap {
    display: none;
  }

  .services {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: -1px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 56px;
    line-height: 1.07;
  }

  .modal {
    max-width: 408px;
  }

  .logo {
    margin-right: 120px;
  }
  .menu-toggle-hamurger {
    display: none;
  }

  .nav-wrap,
  .menu-wrap,
  .address {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about-us-item .list-title {
    text-align: left;
  }

  .team-cards-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 552px;
    row-gap: 72px;
    column-gap: 24px;
    margin: 0 auto;
  }

  .card {
    flex-basis: calc((100% - 24px) / 2);
  }

  .customers-wrap {
    max-width: 618px;
  }

  .customers-icons-wrap {
    max-width: 168px;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  .about-us-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 72px;
  }

  .about-us-item {
    flex-basis: 33%;
  }
}

@media (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .addres-wrap {
    flex-direction: row;
  }
  .address-item:not(:last-child) {
    margin-right: 40px;
  }

  .about {
    padding: 120px 0;
  }

  .about-us-wrap {
    flex-direction: row;
    gap: 24px;
  }

  .about-us-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  /* 
===========================
section class="services" 
===========================
*/

  .services {
    padding-bottom: 120px;
  }

  .services-wrap {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .services-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* ================================== */

  .card:not(:last-child) {
    margin-right: 24px;
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .team-cards-wrap {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: none;
    gap: 24px;
  }

  .customers {
    padding: 120px 0;
  }

  .customers-wrap {
    flex-wrap: nowrap;
    max-width: none;
    gap: 24px;
  }
  .customers-item:not(:last-child) {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }
  .team {
    background-color: var(--light);
    padding: 120px 0;
  }
}
