:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

/* 
===========================
command styles
===========================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-background);
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

img {
  display: block;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: currentColor;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

input,
textarea {
  font-family: inherit;
  line-height: inherit;
  padding: 8px 16px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

/* 
===========================
base styles
===========================
*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.page-title,
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--white-background);
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

.section-title,
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--modal-overlay);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-title,
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--modal-overlay);
  margin-bottom: 8px;
}

.list-text,
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.card-text {
  padding: 32px 16px;
}

.link {
  display: inline-block;
}

/* 
===========================
header
===========================
*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  color: var(--primary-brand);
  margin-right: 76px;
}

span {
  color: var(--modal-overlay);
}
.header-wrap,
.nav-wrap,
.addres-wrap {
  align-items: center;
}

.menu-link {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link:active,
.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state);
}

.active {
  position: relative;
  color: var(--pressed-state);
}

.active::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state);
  margin-top: 20px;
  bottom: -1px;
}

.address-item:not(:last-child) {
  margin-right: 40px;
}

.address {
  font-style: normal;
}

.addres-wrap {
}
.contakt {
  color: var(--text);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt:hover,
.contakt:focus {
  color: var(--pressed-state);
}

/* 
===========================
section class="hero" 
===========================
*/

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 1440px;
  padding: 188px 0;
}

.cta-button {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--primary-brand);
  color: var(--white-background);
  margin: 48px auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cta-button:hover,
.cta-button:focus {
  background-color: var(--pressed-state);
}

/* 
===========================
section class="about" 
===========================
*/

.about {
  padding: 120px 0;
}

.about-us-wrap {
  gap: 24px;
}

.about-us-item {
  flex-basis: calc((100% - 72px) / 4);
}

.about-us-icons-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
}

/* 
===========================
section class="services" 
===========================
*/

.services {
  padding-bottom: 120px;
}

.services-wrap {
  gap: 24px;
}

.services-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* 
===========================
section class="team" 
===========================
*/

.team {
  background-color: var(--light);
  padding: 120px 0;
}

.card {
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card:not(:last-child) {
  margin-right: 24px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.social-icons-list {
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand);
  padding: 11px 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--pressed-state);
}

.icon-img {
  fill: var(--light);
}

.card-text-item > p {
  margin-bottom: 8px;
}

/* 
===========================
Customers
===========================
*/

.customers {
  padding: 120px 0;
}

.customers-item:not(:last-child) {
  flex-basis: calc((100% - 5 * 24px) / 6);
}
.customers-wrap {
  gap: 24px;
}
.customers-icons-wrap {
  align-items: center;
  justify-content: center;
  color: var(--subtle-text);
  width: 168px;
  height: 88px;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  padding: 16px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons-wrap:hover,
.customers-icons-wrap:focus {
  color: var(--pressed-state);
  border-color: var(--pressed-state);
}

.customers-icon {
  fill: currentColor;
}

/* 
===========================
footer 
===========================
*/

.footer {
  background-color: var(--dark);
  padding: 100px 0;
}
.footer-wrap {
  justify-content: flex-start;
  align-items: baseline;
}

.footer-text {
  margin-right: 120px;
}

.white-text,
.footer-semibold-text {
  color: var(--white-background);
  width: 264px;
}

.footer-semibold-text {
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-icons > .social-icons-list {
  padding: 0;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand);
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo {
  color: var(--light);
}
.footer-link {
  margin-bottom: 16px;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  background-color: var(--success);
}

.subscribe-form,
.subscribe-form-label {
  gap: 24px;
}

.subscribe-form-input {
  align-items: center;
  justify-content: flex-start;

  width: 264px;
  height: 40px;
  font-size: 12px;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--white-background);
  background-color: transparent;
  border: 1px solid var(--white-background);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form-input::placeholder {
  color: var(--white-background);
}

.subscribe-form-input:focus-within {
  border-color: var(--primary-brand);
  outline: none;
}

.subscribe-btn {
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: var(--primary-brand);
  color: var(--white-background);
  font-weight: 500;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: var(--success);
}

.btn-icon {
  fill: var(--white-background);
  margin-left: 16px;
}
/* 
===========================
portfolio 
===========================
*/
.portfolio {
  padding: 96px 0 120px 0;
}

.filters-btn {
  background-color: var(--light);
  border: 1px var(--accent) solid;
  font-family: "Roboto", sans-serif;
  color: var(--primary-brand);
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-wrap {
  justify-content: center;
  margin-bottom: 72px;
}

.filters-item:not(:last-child) {
  margin-right: 24px;
}

.filters-btn:hover,
.filters-btn:active,
.filters-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-card-text {
  border: 1px var(--accent) solid;
  border-top: none;
}

.gallery-card-text > h2 {
  text-align: left;
}

.gallery-wrap {
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.gallery-image-box {
  overflow: hidden;
  position: relative;
}

.overlay-text {
  color: var(--light);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-color: var(--primary-brand);
  padding: 40px 32px;
}

.gallery-link:hover .overlay-text {
  transform: translateY(0%);
}

.gallery-link:focus .overlay-text {
  transform: translateY(0%);
}

/* 
===========================
form 
===========================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 100%;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  top: 55%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  background-color: var(--modal-background);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark);
}

.close-btn {
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  font-size: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--pressed-state);
  border: none;
}

.close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--white-background);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.input-label {
  display: block;
  position: relative;
  width: 360px;
  margin-bottom: 4px;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}
.input-box {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 1;
  float: left;
  right: 90%;
  left: 16px;
  fill: var(--dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.text-input:focus {
  border-color: var(--primary-brand);
}

.form-input:focus + .form-icon {
  stroke: none;
  fill: var(--primary-brand);
}

.form-inputs-item.textarea {
  margin-bottom: 16px;
}

.text-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.text-input {
  height: 120px;
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  padding-left: 16px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  color: var(--white-background);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:focus,
.modal-submit-btn:hover {
  background-color: var(--pressed-state);
}

.checkbox-link {
  text-decoration: underline;
  color: var(--primary-brand);
}

.checkbox-label {
  display: inline;
  color: var(--subtle-text);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-inputs-item {
  margin-bottom: 8px;
}

.form-inputs-item {
  margin-bottom: 8px;
}
/*
==============================
checkbox
==============================
*/

.checkbox-wrap {
  width: 100%;
  margin-bottom: 24px;
}

.checkbox-label {
  margin-bottom: 24px;
}

.checkbox-label input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.checkbox-label .checkbox-icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 16px;
  height: 16px;
  background-color: transparent;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  padding: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  top: 50%;
  left: 50%;
}

input:checked + .checkbox-label > .checkbox-icon-box {
  background-color: var(--pressed-state);
  fill: var(--light);
  border: none;
}
